<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Library - <%=title%></title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <%
          for(let i=0;i<nav.length;i++)
          {
            %>
                    <li>
                        <a href="<%=nav[i].link%>">
                            <%=nav[i].title %>
                        </a>
                    </li>
                    <%
          }
        %>
                </ul>
                <ul class="nav navbar-right navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                class="glyphicon glyphicon-search"></i></a>
                        <ul class="dropdown-menu" style="padding:12px;">
                            <form class="form-inline">
                                <button type="submit" class="btn btn-default pull-right"><i
                                        class="glyphicon glyphicon-search"></i></button><input type="text"
                                    class="form-control pull-left" placeholder="Search">
                            </form>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1><%=title%>
                        <p class="lead"></p>
                    </h1>
                </div>
                <div class="col-md-5">
                    <div class="well well-lg">
                        <div class="row">
                            <div class="col-sm-12">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /cont -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-spacer"> </div>
                </div>
            </div>
        </div><!-- /cont -->

    </div>


    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="panel">
                    <div class="panel-body">



                        <!--/stories-->
                     
                       <form id="form1"  onsubmit="return validateForm()" >
                    <div class="form-group">
                        <!-- name -->
                        <label class="form-text">Name</label>
                        <input class="form-control" type="text"  autocomplete="off" id="name" required placeholder="Name" >
                        <!-- pattern="[A-Za-z]{1}[A-Z a-z]{1,}" placeholder="Name" title="Enter alphabets and use white space as divider" -->
                        <label class="validateLabel" id="regName"></label>
                        <br>
                        <!-- age -->
                        <label class="form-text">Age</label>
                        <input class="form-control" type="text"  autocomplete="off"  id="age" placeholder="Age" required>
                        <!--  pattern="[1-9]{1}[0-9]{0,}" -->
                        <label class="validateLabel" id="regAge"></label>
                        <br>
                        <!-- mobile -->
                        <label class="form-text">Mobile</label>
                        <input class="form-control" type="text" autocomplete="off"  id="mobile" placeholder="Mobile" required>
                        <!--  pattern="[1-9]{1}[0-9]{9}" -->
                        <label class="validateLabel" id="regMobile"></label>
                        <br>
                        <!-- email -->
                        <label class="form-text">Email</label>
                        <input class="form-control" type="text" autocomplete="off"   id="email" placeholder="Email" required>
                        <!--  pattern="[A-Za-z0-9]{1}[A-Za-z0-9]{0,}[\@][A-Za-z][\.][A-Z]{2,4}" -->
                        <label class="validateLabel" id="regEmail"></label>
                        <br>
                        <!-- password -->
                        <label class="form-text">Password</label>
                        <input class="form-control" type="password"  autocomplete="off" id="password" placeholder="Password" required>
                        <label class="validateLabel" id="regPassword"></label>
                        <br>
                        <!-- confirm password -->
                        <label class="form-text">Confirm Password</label>
                        <input class="form-control" type="password" autocomplete="off"  id="confirm_password" placeholder="Confirm Password" required>
                        <label class="validateLabel" id="regConfirmPassword"></label>
                        <br>
                        <!-- button-submit -->
                        <button type="submit" id="submitReg" class="btn btn-primary">Submit</button>
                        </div>
                </form>
                      
                    
          
          <!--/stories-->
          
          
        
        
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
        <script src="/js/ScriptRegistration.js"></script>
	</body>
</html>